NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/stg-backend
REDIS_URL=redis://127.0.0.1:6379
PORT=4000
AWS_ACCESS_KEY_ID=S3RVER
AWS_SECRET_ACCESS_KEY=S3RVER
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4568
AWS_S3_BUCKET_NAME=stg-backend-development
MAGIC_LINK_SECRET=secret
SESSION_SECRET=secret
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:4000
SIDEMAIL_API_KEY=apikey
UMAMI_HOST=http://localhost:3000
OPENAI_API_KEY=apikey
ELEVENLABS_API_KEY=apikey
CALLBACK_SECRET=secret
