.container {
  background-color: #f8f9fa;
  /* Light gray/white background */
  border: 1px solid #e9ecef;
}

.avatar {
  width: 180px;
  height: auto;
  flex-shrink: 0;

  @media (max-width: 575.98px) {
    width: 120px;
  }
}