.pop-animation {
  animation: pop 0.4s ease-out;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

.fade-half {
  opacity: 0.5;
}
