NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/stg-backend
REDIS_URI=redis://127.0.0.1:6379
PORT=4000
AWS_ACCESS_KEY_ID=S3RVER
AWS_SECRET_ACCESS_KEY=S3RVER
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4568
AWS_S3_BUCKET_NAME=stg-backend-development
DIRECTUS_READ_ONLY_AWS_ACCESS_KEY_ID=
DIRECTUS_READ_ONLY_AWS_SECRET_ACCESS_KEY=
DIRECTUS_READ_ONLY_AWS_REGION=
DIRECTUS_READ_ONLY_AWS_ENDPOINT_URL=
DIRECTUS_READ_ONLY_AWS_BUCKET=
MAGIC_LINK_SECRET=secret
SESSION_SECRET=secret
FRONTEND_URL=http://localhost:5173
SIDEMAIL_API_KEY=apikey
