# NOTE: the contents of this file needs to be copied from:
# https://www.notion.so/positive/stg-v2-monorepo-apps-data-api-dev-env-33dba5ea8dd64a2bbe1cfda3f179f54f
STORAGE_S3_KEY=SECRET
STORAGE_S3_SECRET=SECRET

# To use the local development environment, set the following:
DATA_API_ENV=local-development

# The asset url must be set for the send-messages hook to work
ASSET_URL=http://localhost:8055/assets
